<webobject name=NavItems>
   <wo:ERXEqualConditional value1 = "$itemsForLevel2.count" value2 = 0>
      <li class="nav-item">
         <webobject name=Nav2Object2></webobject>
      </li>
   </wo:ERXEqualConditional>
   <wo:ERXEqualConditional negate = true value1 = "$itemsForLevel2.count" value2 = 0>
      <webobject name=NavObject>
         <webobject name=level2Items>
            <webobject name=Nav2Object>
         <webobject name=level3Items>
            LEVEL 3!
         </webobject>
            </webobject>
         </webobject>
      </webobject>
   </wo:ERXEqualConditional>
</webobject>