<span class="text-muted small font-italic" id="count_message"></span>
<webobject name="InputGroupWrapper">
	<WEBOBJECT NAME=EditString></WEBOBJECT>
</webobject>

<script>
      var text_max = <wo:str value="$d2wContext.maxLength" />;
      var count = jQuery('#count_message');
      var text = jQuery('#textarea');
      var Format = wNumb({
		decimals: 0,
		thousand: ',',
		prefix: '(',
		suffix: ')'
	  });
      
	  setCount();
	  
      text.keyup(function() {
      	setCount();
      });
      
      function setCount() {
        var text_length = text.val().length;
        var text_remaining = text_max - text_length;
        count.html( Format.to( text_remaining ) );
      }

</script>
