<div class="bmlcharcount"><wo:str value="$d2wContext.id" /></div>
<WEBOBJECT NAME=EditString></WEBOBJECT>
   <script>
      var maxLength = 144;
      var countDiv = $('.bmlcharcount');
      var textareas = $( "textarea" );
      var textarea = null;
      if (textareas != null) {
      	textarea = textareas.first();
      }
      
	  var length = textArea.val().length;
      var length = maxLength-length;
      countDiv.html(length);

      textArea.keyup(function() {
	    var length = textArea.val().length;
        var length = maxLength-length;
        countDiv.html(length);
	  });
      
   </script>
