<div class="p-2 pr-4 pl-4 mr-4 ml-4">
  <div id="shards-custom-slider">
    <webobject name="LowerBound" />
    <webobject name="UpperBound" />
  </div>
</div>
<!-- JavaScript -->
<script>
  high = <wo:str value="$d2wContext.numberRangeHigh" />;
  low = <wo:str value="$d2wContext.numberRangeLow" />;
  jQuery('#shards-custom-slider').customSlider({
    <wo:str value="$d2wContext.customSliderConfigurationText" />
	step: 1,
    start: [high * 0.2, high / 1.2],
    behaviour: 'tap-drag',
    tooltips: true,
    format: wNumb({
        decimals: 0
    }),
    connect: true,
    range: {
      'min': low,
      'max': high
    },
    pips: {
      mode: 'positions',
      values: [0, high],
      density: 2
      }
  });
</script>
