<div class="p-2 pr-4 pl-4 mr-4 ml-4">
  <div id="shards-custom-slider">
    <webobject name="LowerBound" />
    <webobject name="UpperBound" />
  </div>
</div>
<!-- JavaScript -->
<script>
  numberRangeHigh = <wo:str value="$d2wContext.numberRangeHigh" />;
  numberRangeLow = <wo:str value="$d2wContext.numberRangeLow" />;
  jQuery('#shards-custom-slider').customSlider({
    <wo:str value="$d2wContext.customSlider" />
	step: 1,
    start: [numberRangeHigh * 0.25, numberRangeHigh * 0.75],
    behaviour: 'tap-drag',
    tooltips: true,
    format: wNumb({
		mark: '.',
		thousand: ',',
    	prefix: '',
        decimals: 0
    }),
    connect: true,
    range: {
      'min': numberRangeLow,
      'max': numberRangeHigh
    },
    pips: {
    format: wNumb({
		mark: '.',
		thousand: ',',
    	prefix: '',
        decimals: 0
    }),
      mode: 'positions',
      values: [0, 25, 50, 75, 100],
      density: 5
    }
  });
</script>
