body, .ObjButton, .DialogButton, .EmbeddedEditRelationshipBtmActions .PageButton, .Button, input, textarea, strong, nav, H1, H2, H3, H4, H5, .Line label, .Line .Label, .TPTab span {
     text-rendering:optimizeLegibility;
     -webkit-font-smoothing: antialiased;
}
 .QueryAllWrapper .card {
 	padding:1rem;
 }

 .InspectTabWrapper .card, .InspectWrapper .card {
     width:80%;
     max-width: 100%;
     margin: 3rem auto 3rem;
 }
 
.CreateWrapper .page-contents, .EditWrapper .page-contents, .Section .page-contents,.QueryWrapper .card {
     width:80%;
     max-width: 680px;
     margin: 3rem auto 3rem;
}
.QueryAllWrapper .card {
     width:90%;
     max-width: 1100px;
     margin: 2rem auto 2rem;
}
 .CreateBanner li.active   {
     font-weight: 800;
     transition: all 300ms ease 0s;
	}
 H2, H3 {
     font-weight: 300;
     font-size:150%;
}

 .QueryAttrVal {
	display:inline;
}
 .Wrapper {
     padding:0;
}
 .BottomBatchNav {
     width:100%;
}
 .Line, .LineInner {
     border: none;
     background-image: none;
     background-color: transparent;
}

.PageHeader {
     display: none;
}
 .BtmActions {
     margin:0;
     padding:0;
     overflow: auto;
}
 .ObjRow:hover {
     background-color:#eee;
     transition: all 300ms ease 0s;
}
 .OddObjRow td.AttrColumn {
     background-color:transparent;
}

 .Line .LabelWrapper .Label, .Line label,.ComboTHLink .Label {
	font-weight:bold;
 }
 
 .Line .LabelWrapper {
	 float: none;
     display:inline;
     padding:0;
     margin:0;
}
 .AttrVal {
     margin-bottom:1rem;
     padding: 0;
}
 .ERAttachmentFlexibleEditor .AEEdit {
     width:100%;
     border:none;
     -webkit-box-shadow:none;
     -moz-box-shadow:none;
     box-shadow:none;
}
 .ErrorLabel{
     color: #c4183c !important;
}
 .ErrorLine .AttrVal input,.ErrorLine .AttrVal textarea {
     border: 1px solid #c4183c;
     transition: all 300ms ease 0s;
}
 .ListWrapper .AttrColumn {
     vertical-align: text-top;
}
 li {
     list-style: none;
     display:inline;
}
 TH {
     text-align: left;
     font-weight: bold;
}
 .ERMDEmptyList {
     background:none;
     border:none;
}
 .BatchSize {
     display:none;
}
 .ERMDBatchSize_BatchValue {
     border: none;
     background-color:transparent;
}
 .Line label abbr {
     visibility:hidden;
}
 .GlobalBusyIndicator {
     margin: auto;
     width: 10%;
     padding: 10px;
}
 .GlobalBusyIndicator img {
     float:right;
     width:20px;
    /* you can use % */
     height: auto;
}
 .ErrBlock li {
     list-style: none;
}
 .InnerWrapper {
     padding:0.5rem;
     border:none;
}
 .ChangesMarker img {
     width:0;
     height:0;
}
 .ErrorLine .AttrVal span {
     border: none;
     width:100%;
}
 .Line, .Attributes, .AttrVal {
     color: #aaaaaa;
     font-weight: 100;
}




 input[type=url]:invalid {
     border-color: #C33;
     box-shadow: inset 0 0.0625em 0.125em rgba(0,0,0,.2), 0 0 0.125em rgba(203,0,2,.8);
}

 a:hover {
     text-decoration:none;
     transition: all 300ms ease 0s;
}


 .container-fluid {
     margin-top:0.5rem;
     padding-top:0.5rem;
}
 .custom-control {
     padding:0;
     margin:0;
     margin-top:-1rem;
     padding-bottom:1.5rem;
     padding-left:.25rem;
}







 @media screen and (max-width: 768px) {
     .CreateWrapper .page-contents,.QueryWrapper .card ,.EditWrapper .page-contents ,.Section .page-contents,.Wrapper .page-contents {
         margin: 0 auto 0;
         width:100%;
         max-width: 100%;
         box-shadow: none;
         border: none;
         border-radius:0;
    }
     .Wrapper {
         padding:0;
    }
}
 