<ul class="nav nav-pills nav-fill">
	<webobject name = "TabRepetition">
       <li class="nav-item">
          <webobject name = "Link"><webobject name = "CurrentStep"/>. <webobject name = "TabItemDisplayName"/></webobject>
       </li>
	</webobject>
</ul>
<!-- 
          <webobject name = "Link"><webobject name = "CurrentStep"/>. <webobject name = "TabItemDisplayName"/></webobject>

<webobject name = "AjaxUpdateContainer">
</webobject>
<webobject name = "SubmitForm"><webobject name = "AjaxSubmit"><webobject name = "TabItemDisplayName" /></webobject></webobject>
<webobject name = "DontSubmitForm"><webobject name = "AjaxLink"><webobject name = "TabItemDisplayName" /></webobject></webobject>
<webobject name = "AjaxSubmit"><webobject name = "TabItemDisplayName" /></webobject>
-->
