<div class="card">
  <webobject name ="HasHeaderConditional">
  <img class="card-img-top" src=<wo:str value="$cardHeader" /> >
  </webobject>
  <webobject name ="HasImageConditional">
  <img class="card-img-top" src=<wo:str value="$cardImageSrc" /> >
  </webobject>
  <div class="card-body">
  <webobject name ="HasTitleConditional">
    <h4 class="card-title"><wo:str value="$cardTitle" /></h4>
  </webobject>
  <webobject name ="HasTextConditional">
    <p class="card-text"><wo:str value="$cardText" /></p>
  </webobject>
  <webobject name ="HasLinkConditional">
    <a href=<wo:str value="$cardLink" /> class="btn btn-primary">Tell me more &rarr;</a>
  </webobject>
  </div>
</div>
