<style>
   .auto_complete {
   border-radius: .625rem;
   box-shadow: 0 .46875rem 2.1875rem rgba(90,97,105,.1),0 .9375rem 1.40625rem rgba(90,97,105,.1),0 .25rem .53125rem rgba(90,97,105,.12),0 .125rem .1875rem rgba(90,97,105,.1);
   margin:0.25rem;
   }
   .auto_complete ul li {
   border-radius: .625rem;
   color: #888; 
   display:block;
   padding:1rem;
   }
</style>
<webobject name="InputGroupWrapper">
   <webobject name = "AjaxAutoComplete" />
</webobject>
  <div class="dropdown">
   <ul class="dropdown-menu shadow rounded">
   <webobject name = "SearchTermSelected" />
   </ul>
  </div>
