<wo:conditional condition=d2wContext.readOnly>
   <webobject name="String" />
</wo>
<wo:conditional condition=d2wContext.readOnly negate=true>
  <webobject name="InputGroupDiv">
   <webobject name="HasPre">
     <div class="input-group-prepend">
      <div class="input-group-text">
      <webobject name="PrependSpan" />
      </div>
    </div>
  </webobject>
   <webobject name="EditString" />
   <webobject name="HasPost">
     <div class="input-group-append">
      <div class="input-group-text">
      <webobject name="AppendSpan" />
      </div>
    </div>
  </webobject>
  </webobject>
</wo>