<webobject name = "AjaxUpdateContainer">
  <webobject name = "HasTabs">
    <div class = "card-header">
      <webobject name = "TablUl">
        <webobject name = "TabRepetition">
          <webobject name = "TabLi">
            <webobject name = "IsSelectedTab"><a class="nav-link active" href="#"><webobject name = "TabLabel" /></a></webobject>
            <webobject name = "NotSelectedTab">
            	<webobject name = "SubmitForm"><webobject name = "AjaxSubmit"><webobject name = "TabLabel" /></webobject></webobject>
            	<webobject name = "DontSubmitForm"><webobject name = "AjaxLink"><webobject name = "TabLabel" /></webobject></webobject>
            </webobject>
          </webobject>
        </webobject>
      </webobject>
    </div>
    <div class = "TabPanelContent"><webobject name = "TabContentWrapper"><webobject name = "ComponentContent" /></webobject></div>
  </webobject>
  <webobject name = "HasNoTabs"><div class = "TabPanelContent"><webobject name = "ComponentContent" /></div></webobject>
</webobject>