<wo:ERXEqualConditional value1 = "$level" value2 = 1>
   <li class="nav-item dropdown">
      <webobject name = "ActionURL">
         <webobject name = "DisplayName" />
      </webobject>
      <div class="dropdown-menu">
         <wo:WOComponentContent />
      </div>
   </li>
</wo:ERXEqualConditional>
<wo:ERXEqualConditional value1 = "$level" value2 = 2>
   <webobject name = "ActionURLItemClass">
      <webobject name = "DisplayName" />
   </webobject>
</wo:ERXEqualConditional>
<wo:ERXEqualConditional value1 = "$level" value2 = 3>
   <webobject name = "ActionURLItemClassNoDrop">
      <webobject name = "DisplayName" />
   </webobject>
</wo:ERXEqualConditional>