<wo:ERXEqualConditional value1 = "$level" value2 = 1>
  <li class="nav-item dropdown">
    <webobject name = "contextComponentActionURL"><webobject name = "displayName" /></webobject>
    <div class="dropdown-menu">
	  <wo:WOComponentContent />
    </div>
  </li>
</wo:ERXEqualConditional>
<wo:ERXEqualConditional value1 = "$level" value2 = 2>
  <webobject name = "contextComponentActionURLItemClass"><webobject name = "displayName" /></webobject>
</wo:ERXEqualConditional>
<wo:ERXEqualConditional value1 = "$level" value2 = 3>
  <webobject name = "contextComponentActionURLItemClassNoDrop"><webobject name = "displayName" /></webobject>
</wo:ERXEqualConditional>
